.App {
  text-align: center;
}
h2 {
  float: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.row {
  margin-right: 0px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: rgba(176, 255, 217, 0.64);
}
body,
html {
  height: 100%;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrapall {
  padding: 0px;
  /* margin: 20px; */
}
#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  width: 220px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(176, 255, 217, 0.64);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  /* background-color: red; */
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  -ms-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.sidebar-nav li:first-child {
  color: #000;
  /* background-color: #1aa; */
}
.sidebar-nav li:nth-child(2):before {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-nav li:nth-child(3):before {
  background-color: rgba(26, 85, 56, 0.82);
}
.sidebar-nav li:nth-child(4):before {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-nav li:nth-child(5):before {
  background-color: rgba(26, 85, 56, 0.82);
}
.sidebar-nav li:nth-child(6):before {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-nav li:nth-child(7):before {
  background-color: rgba(26, 85, 56, 0.82);
}
.sidebar-nav li:nth-child(8):before {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-nav li:nth-child(9):before {
  background-color: rgba(26, 85, 56, 0.82);
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.sidebar-nav li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 12px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

.navbar-fixed {
  position: fixed;
}

.marg {
  padding-left: 0px;
}

.img-modifiy {
  height: 100%;
  width: auto;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1;
}

.nomargin {
  margin: 0px;
}
.navbar-custom {
  color: #ffffff;
  background-color: #1e2630;
  height: 88px;
}
.navbar {
  border: 0px;
  border-radius: 0px;
}
.inputs {
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #000;
}

.navbar-default .navbar-nav > li > a:hover {
  color: green;
}
.profile {
  width: 160px;
  /* background-color: rgba(146, 134, 134, 0.3); */
  float: right;
  margin-top: 20px;
}
.profile-img {
  width: 50px;

  background-color: green;

  padding-right: 14px;
}
.navbar-brand {
  padding: 15px 0px;
}
.navbar-brand:hover {
  background-color: rgba(146, 134, 134, 0.3);
}

.index {
  /* background-color: rgba(146, 134, 134, 0.3); */
}

.profile-info {
  float: left;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
}
.nopadding {
  padding: 0px;
  margin-top: 20px;
  margin-left: 40px;
}
.fright {
  float: right;
}

@media (min-width: 768px) {
  .circle-tile {
    margin-bottom: 30px;
  }
}

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}

.circle-tile-heading {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto -40px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.circle-tile-heading .fa {
  line-height: 80px;
}

.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-description {
  text-transform: uppercase;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.circle-tile-number {
  padding: 5px 0 15px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

.circle-tile-footer {
  display: block;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.circle-tile-footer:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

/* dashboard container */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
  /* background-color: #34495e; */
  background-color: #1e2630;
}

.green {
  background-color: rgb(26, 85, 56);
}

.blue {
  background-color: #2980b9;
}

.orange {
  background-color: #f39c12;
}

.red {
  background-color: #e74c3c;
}

.purple {
  background-color: #8e44ad;
}

.dark-gray {
  background-color: #7f8c8d;
}

.gray {
  background-color: #95a5a6;
}

.light-gray {
  background-color: #bdc3c7;
}

.yellow {
  background-color: rgba(0, 0, 0, 0.1);
  height: 400px;
}
.grey {
  background-color: rgb(119, 119, 119);
  float: right;
}
.theme {
  float: right;
  background-color: #1e2630;
}
/* -- Text Color Helper Classes */

.text-dark-blue {
  color: #34495e;
}

.text-green {
  color: #16a085;
}

.text-blue {
  color: #2980b9;
}

.text-orange {
  color: #f39c12;
}

.text-red {
  color: #e74c3c;
}

.text-purple {
  color: #8e44ad;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.circle-tile-heading .fa {
  line-height: 80px;
}

.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-description {
  text-transform: uppercase;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.circle-tile-number {
  padding: 5px 0 15px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

.circle-tile-footer {
  display: block;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.circle-tile-footer:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.morning {
  background: url(https://lh3.googleusercontent.com/-1YbV7nsVnX8/WMugaq-6BEI/AAAAAAAADSg/0wPfQ84vMUcCle_SkgiUDOumUKscMaA8QCL0B/w530-d-h353-p-rw/widget-bg-morning.jpg)
    center bottom no-repeat;
  background-size: cover;
}

.time-widget {
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 1.75em;
}

.time-widget-heading {
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 400;
  color: #fff;
}
#datetime {
  color: #fff;
}
.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.tile {
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
  color: #fff;
}

/*sidr-NAVBAR=======END========*/
@media (min-width: 768px) {
  #page-wrapper {
    padding: 0 30px;
    min-height: 1300px;
    border-left: 1px solid #2c3e50;
  }
}

#page-wrapper {
  padding: 0 30px;
  min-height: 1300px;
  border-left: 1px solid #2c3e50;
}

#page-wrapper {
  padding: 0 15px;
  border: none;
}

.date-picker {
  border-color: #138871;
  color: #fff;
  background-color: #149077;
  margin-top: -7px;
  border-radius: 0px;
  margin-right: -15px;
}

#page-wrapper .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #e0e7e8;
  border-radius: 0px;
}
.breadcrumb {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}
.breadcrumb > .active {
  color: #fff;
}

@media (min-width: 768px) {
  .circle-tile {
    margin-bottom: 30px;
  }
}

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}

.circle-tile-heading {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto -40px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #fff;
  transition: all ease-in-out 0.3s;
}
.page-title {
  float: left;
  width: 400px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}

form {
  padding: 0 40px;
}

form input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
}

form input.error {
  border-color: red;
}

form button {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 5px;
  background-color: #84c00c;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

form button:hover {
  background-color: #669509;
}

form button:disabled {
  background-color: #dbf99f;
  color: #333;
}
.smallfont {
  margin-left: 12px;
}
form button.small {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  background-color: #777;
  font-size: 14px;
  float: left;
}

form button.small:hover {
  background-color: #999;
}

.service {
  display: flex;
  direction: row;
  background: green;
  align-items: center;
}

.service button {
  margin: 0;
  margin-left: 10px;
}
.content {
  width: 60%;
  background-color: rgb(26, 85, 56)2630;
  padding: 15px 0px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  width: 100%;
  background: rgb(26, 85, 56);
}
.textwrapper {
  float: left;
  width: 70%;
}

.chkbox {
  margin-left: 1%;
  float: right;
  width: 28%;
}
.clearfix {
  clear: both;
}
.floatl {
  float: left;
}
ul {
  list-style-type: none;
}
.New {
  margin: 20px 20px 40px 20px;
  width: 100%;
  height: 30px;
}
.margint {
  margin-top: 40px;
}
.btn-primary {
  background-color: #1e2630;
  width: 20%;
}
h1 {
  color: black;
}

.btn-primary.floatr {
  float: right;
}
.btn-primary.givemargin {
  margin-left: 2px;
  width: 100px;
}
label {
  display: block;
  overflow: hidden;
  width: 302px;
}
input[type="checkbox"] {
  vertical-align: middle;
  float: right;
}
.projectname {
  margin-top: 5px;
  line-height: 88px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 20;
  font-size: 30px;
  color: white;
}

.checkbox label,
.radio label {
  padding-left: 0px;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-left: 20px;
}
span {
  margin-left: 20px;
}
table tr th {
  width: 40px;
  border: 1px solid black;
}
.showservice {
  margin-top: 40px;
}
.showservice ul {
  list-style: none;
  margin: initial;
  padding: 0 0 0 40px;
}

.showservice li {
  width: 400px;
  padding: 15px;
  border: 1px solid black;
  display: list-item;
  text-align: left;
}
